<configuration>

    <springProperty name="APP_NAME"
                    source="spring.application.name"
                    defaultValue="corerouter"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <appender name="aiAppender" class="com.microsoft.applicationinsights.logback.ApplicationInsightsAppender"/>

    <!-- CONSOLE -->
    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

   
    <logger name="com.fleebug.corerouter" level="INFO"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="aiAppender"/>
    </root>

</configuration>
